*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing:border-box
}
.container{
    width: 100%;
    height: 100vh;
    background-color:  rgba(48, 4, 4, 0.522);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(126, 90, 43, 0.1), 5px 5px 15px rgba(48, 4, 4, 0.522) ;
    background-color: transparent;
    font-size: 20px;
    color: rgba(48, 4, 4, 0.522);
    font-weight: bolder;
    cursor: pointer;
    margin: 6px;
}
form .display{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form div .equal{
    width: 145px;
}
form input.operator{
    color: antiquewhite;
    font-weight: bolder;
    background-color: rgba(48, 4, 4, 0.522);
}
